{% extends 'layout_b.html.twig' %}

{% block stylesheet %}
{% endblock %}


{% block body %}
<!-- Start Content -->
<div class="content pb-0">

    <!-- Page Header -->
    <div class="d-flex align-items-sm-center justify-content-between flex-wrap gap-2 mb-4">
        <div>
            <h4 class="fw-bold mb-0">Tableau de board </h4>
        </div>
        <div class="d-flex align-items-center flex-wrap gap-2">
            <a href="{{ path('app_artisan_index') }}" class="btn btn-primary d-inline-flex align-items-center"><i class="ti ti-plus me-1"></i>Liste des artisans</a>
        </div>
    </div>
    <!-- End Page Header -->

    <!-- start row -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="position-relative border card rounded-2 shadow-sm">
                <img src="{{ asset('theme_b/assets/img/bg/bg-01.svg') }}" alt="img" class="position-absolute start-0 top-0">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2 justify-content-between">
                        <span class="avatar bg-primary rounded-circle"><i class="ti ti-calendar-heart fs-24"></i></span>
                        <div class="text-end">
                            <span class="badge px-2 py-1 fs-12 fw-medium d-inline-flex mb-1 bg-success">+95%</span>
                            <p class="fs-13 mb-0">les 7 derniers jous </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-1">Entreprise artisanales</p>
                            <h3 class="fw-bold mb-0">{{ total_entreprise_artisanale }}</h3>
                        </div>
                        <div>
                            <div id="s-col-2" class="chart-set"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-xl-3 col-md-6">
            <div class="position-relative border card rounded-2 shadow-sm">
                <img src="{{ asset('theme_b/assets/img/bg/bg-02.svg') }}" alt="img" class="position-absolute start-0 top-0">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2 justify-content-between">
                        <span class="avatar bg-danger rounded-circle"><i class="ti ti-calendar-heart fs-24"></i></span>
                        <div class="text-end">
                            <span class="badge px-2 py-1 fs-12 fw-medium d-inline-flex mb-1 bg-success">+25%</span>
                            <p class="fs-13 mb-0">les 7 derniers jous </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-1">Maître artisans</p>
                            <h3 class="fw-bold mb-0">{{ total_maitre_artisan }}</h3>
                        </div>
                        <div>
                            <div id="s-col-2" class="chart-set"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-xl-3 col-md-6">
            <div class="position-relative border card rounded-2 shadow-sm">
                <img src="{{ asset('theme_b/assets/img/bg/bg-03.svg') }}" alt="img" class="position-absolute start-0 top-0">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2 justify-content-between">
                        <span class="avatar bg-info rounded-circle"><i class="ti ti-calendar-heart fs-24"></i></span>
                        <div class="text-end">
                            <span class="badge px-2 py-1 fs-12 fw-medium d-inline-flex mb-1 bg-danger">-15%</span>
                            <p class="fs-13 mb-0">les 7 derniers jous </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div>
                            <p class="mb-1">Compagnons</p>
                            <h3 class="fw-bold mb-0">{{ total_compagnons }}</h3>
                        </div>
                        <div>
                            <div id="s-col-2" class="chart-set"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
        <div class="col-xl-3 col-md-6">
            <div class="position-relative border card rounded-2 shadow-sm">
                <img src="{{ asset('theme_b/assets/img/bg/bg-04.svg') }}" alt="img" class="position-absolute start-0 top-0">
                <div class="card-body">
                    <div class="d-flex align-items-center mb-2 justify-content-between">
                        <span class="avatar bg-success rounded-circle"><i class="ti ti-calendar-heart fs-24"></i></span>
                        <div class="text-end">
                            <span class="badge px-2 py-1 fs-12 fw-medium d-inline-flex mb-1 bg-success">+25%</span>
                            <p class="fs-13 mb-0">les 7 derniers jous </p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-between overflow-hidden">
                        <div>
                            <p class="mb-1">Apprentis</p>
                            <h3 class="fw-bold mb-0 text-truncate">{{ total_apprentis }}</h3>
                        </div>
                        <div>
                            <div id="s-col-2" class="chart-set"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->

    <!-- row start -->
    <div class="row">
        <!-- col start -->
        <div class="col-xl-8">

            <!-- card start -->
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Statistiques des immatriculations</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                            Mensuel <i class="ti ti-chevron-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Mensuel</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Hebdomadaire</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Annuel</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body pb-0">
                    <div class="row row-gap-3 mb-2">
                        <div class="col-md-3 col-sm-6">
                            <div class="bg-light border p-2 text-center rounded-2">
                                <p class="mb-1 text-truncate"><i class="ti ti-point-filled me-1 text-primary"></i>Entreprise artisanale</p>
                                <h5 class="fw-bold mb-0">6314</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="bg-light border p-2 text-center rounded-2">
                                <p class="mb-1"><i class="ti ti-point-filled me-1 text-danger"></i>Apprentis</p>
                                <h5 class="fw-bold mb-0">456</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="bg-light border p-2 text-center rounded-2">
                                <p class="mb-1"><i class="ti ti-point-filled me-1 text-warning"></i>Compagnons</p>
                                <h5 class="fw-bold mb-0">745</h5>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="bg-light border p-2 text-center rounded-2">
                                <p class="mb-1"><i class="ti ti-point-filled me-1 text-success"></i>Maître artisans</p>
                                <h5 class="fw-bold mb-0">4578</h5>
                            </div>
                        </div>
                    </div>
                    <div class="chart-set" id="s-col-19"></div>
                </div>
            </div>
            <!-- card end -->

            <!-- card start -->
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Top Agents recenseurs</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                            Hebdomadaire <i class="ti ti-chevron-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Mensuel</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Hebdomadaire</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Annuelle</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row row-gap-3">
                        {%  for agent in topAgents|slice(1,3) %}
                        <div class="col-md-4">
                            <div class="border shadow-sm p-3 rounded-2">
                                <div class="d-flex align-items-center mb-3">
                                    <a href="doctor-details.html" class="avatar me-2 flex-shrink-0 position-relative">
                                        <span class="online text-success position-absolute end-0 bottom-0 pe-1"><i class="ti ti-circle-filled d-flex bg-white fs-6 rounded-circle border border-1 border-white"></i></span>
                                        <img src="{{ agent.photo.filePath|mediaUrl }}" alt="img" class="rounded-circle">
                                    </a>
                                    <div>
                                        <h6 class="fs-14 mb-1 text-truncate"><a href="{{ path('app_user_show',{id: agent.id}) }}" class="fw-semibold">{{ agent.nom ~ ' ' ~ agent.prenoms }}</a></h6>
                                        <p class="mb-0 fs-13">{{ agent.roles|last }}</p>
                                    </div>
                                </div>
                                <p class="mb-0"><span class="text-dark fw-semibold"></span> Identifications</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- card end -->

        </div>
        <!-- col end -->

        <!-- col start -->
        <div class="col-xl-4">
            <div class="card shadow-sm">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0 text-truncate">Mon calendrier</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                            Tous type <i class="ti ti-chevron-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);">Du jour</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="javascript:void(0);">De la semaine</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="datepic mb-1"></div>
                    <div class="mb-3 bg-light p-3 rounded-2 d-flex align-items-center justify-content-between">

                    </div>
                    <div class="mb-3 bg-soft-danger p-3 rounded-2 d-flex align-items-center justify-content-between">

                    </div>
                    <div class="mb-3 bg-soft-info p-3 rounded-2 d-flex align-items-center justify-content-between">

                    </div>
                    <a href="" class="btn btn-light w-100">Voir plus</a>
                </div>
            </div>
        </div>
        <!-- col end -->
    </div>
    <!-- end row -->

    <!-- start row -->
    <div class="row">
        <!-- col start -->
        <div class="col-xl-4 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Top 5 Agents recenseurs</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                          Semaine <i class="ti ti-chevron-down ms-1"></i>
                      </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Mois</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Semaine</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Année</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div id="circle-chart" class="chart-set"></div>
                    <div class="d-flex align-items-center flex-wrap justify-content-center gap-2 mt-3">
                        <p class="d-flex align-items-center mb-0 fs-13"><i class="ti ti-circle-filled text-info fs-10 me-1"></i><span class="text-dark fw-semibold me-1">214</span>Artisan Maître</p>
                        <p class="d-flex align-items-center mb-0 fs-13"><i class="ti ti-circle-filled text-purple fs-10 me-1"></i><span class="text-dark fw-semibold me-1">150</span> Apprentis</p>
                        <p class="d-flex align-items-center mb-0 fs-13"><i class="ti ti-circle-filled text-primary fs-10 me-1"></i><span class="text-dark fw-semibold me-1">121</span> Compagnons</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- col end -->

        <!-- col start -->
        <div class="col-xl-4 col-lg-6 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Résulats par CRM</h5>
                    <a href="doctor-schedule.html" class="btn fw-normal btn-outline-white">Voir tous</a>
                </div>
                <div class="card-body">
                    <div class="row g-2 mb-4">
                        <div class="col d-flex border-end">
                            <div class="text-center flex-fill">
                                <p class="mb-1">Identifications</p>
                                <h3 class="fw-bold mb-0">48</h3>
                            </div>
                        </div>
                        <div class="col d-flex border-end">
                            <div class="text-center flex-fill">
                                <p class="mb-1">Immatricualtions</p>
                                <h3 class="fw-bold mb-0">28</h3>
                            </div>
                        </div>
                    </div>
                    <div class="overflow-auto">
                        {% for artisan in artisans|slice(1,4) %}
                        <div class="d-flex justify-content-between align-items-center mb-3">
                            <div class="d-flex align-items-center flex-shrink-0">
                                <a href="doctor-details.html" class="avatar flex-shrink-0">
                                  <img src="{{ artisan.photo ? artisan.photo.filePath|mediaUrl : "" }}" class="rounded-circle" alt="img">
                              </a>
                                <div class="ms-2 flex-shrink-0">
                                    <div>
                                        <h6 class="fw-semibold fs-14 text-truncate mb-1"><a href="">{{ artisan.nom ~ ' '  ~ artisan.prenoms }}</a></h6>
                                        <p class="fs-13">{{ artisan.telephone }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="flex-shrink-0 ms-2">
                                <a href="#" class="btn btn-primary btn-sm py-1 flex-shrink-0">Consulter</a>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <!-- col end -->

        <!-- col start -->
        <div class="col-xl-4 col-lg-6 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Revenus par corps de métiers</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                          Semaine <i class="ti ti-chevron-down ms-1"></i>
                      </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Mois</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Semaine</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Année</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <p class="fw-semibold mb-1 text-dark">Meunier</p>
                            <p class="mb-0">50 artisans</p>
                        </div>
                        <h6 class="fw-bold mb-0">254 000</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <p class="fw-semibold mb-1 text-dark">Boucher</p>
                            <p class="mb-0">10 artisans</p>
                        </div>
                        <h6 class="fw-bold mb-0">24000</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <p class="fw-semibold mb-1 text-dark">Boulanger-pâtissier</p>
                            <p class="mb-0">1 796 artisans</p>
                        </div>
                        <h6 class="fw-bold mb-0">25 000</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <div>
                            <p class="fw-semibold mb-1 text-dark">Restaurateur</p>
                            <p class="mb-0">2 000</p>
                        </div>
                        <h6 class="fw-bold mb-0">25 000</h6>
                    </div>
                    <div class="d-flex align-items-center justify-content-between mb-0">
                        <div>
                            <p class="fw-semibold mb-1 text-dark">Maçon</p>
                            <p class="mb-0">9 Artisans</p>
                        </div>
                        <h6 class="fw-bold mb-0">50 000</h6>
                    </div>
                </div>
            </div>
        </div>
        <!-- col end -->
    </div>
    <!-- end row -->

    <!-- row start -->
    <div class="row">
        <div class="col-12 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Dernière identification</h5>
                    <a href="" class="btn fw-normal btn-outline-white">Voir tous</a>
                </div>
                <div class="card-body">
                    <!-- Table start -->
                    <div class="table-responsive table-nowrap">
                        <table class="table border">
                            <thead class="thead-light">
                                <tr>
                                    <th>Artisan</th>
                                    <th>CRM</th>
                                    <th>Date d'identification</th>
                                    <th>Source</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                               {% for artisan in artisans|slice(1,4) %}
                                <tr>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="doctor-details.html" class="avatar me-2">
                                                <img src="{{ artisan.photo.filePath|mediaUrl }}" alt="img" class="rounded-circle">
                                            </a>
                                            <div>
                                                <h6 class="fs-14 mb-1"><a href="doctor-details.html" class="fw-semibold">{{ artisan.nom ~ ' ' ~ artisan.prenoms }}</a></h6>
                                                <p class="mb-0 fs-13">{{ artisan.activitePrincipale ? artisan.activitePrincipale.name: "" }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>{{  artisan.crm.name }}</td>
                                    <td>{{  artisan.createdAt| date('d/m/Y') }}</td>
                                    <td>{{ artisan.crm.name }}</td>
                                    <td><span class="badge fs-13 py-1 badge-soft-success border border-success rounded text-success fw-medium">Confirmé</span></td>
                                </tr>
                               {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- Table end -->
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->

    <!-- row start -->
    <div class="row">
        <!-- col start -->
        <div class="col-xl-4 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Top 5 Agents de contrôle</h5>
                    <a href="patients.html" class="btn fw-normal btn-outline-white">Voir tout</a>
                </div>
                <div class="card-body">
                    {% for agent in topAgents|slice(5,4) %}
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <a href="" class="avatar me-2 flex-shrink-0">
                                <img src="{{ agent.photo.filePath|mediaUrl }}" alt="img" class="rounded-circle">
                            </a>
                            <div>
                                <h6 class="fs-14 mb-1 text-truncate"><a href="" class="fw-medium">{{ agent.nom ~ ' ' ~ agent.prenoms }}</a></h6>
                                <p class="mb-0 fs-13 text-truncate"></p>
                            </div>
                        </div>
                        <span class="badge fw-medium badge-soft-primary border border-primary flex-shrink-0">8</span>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- col end -->

        <!-- col start -->
        <div class="col-xl-4 col-lg-6 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Stats Hub paiement par opérateur</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                            Semaine <i class="ti ti-chevron-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Mois</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Semaine</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Année</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="avatar me-2 flex-shrink-0">
                                <img src="{{ asset('theme_b/assets/img/logos/mtn_logo.png') }}" alt="img" class="rounded-circle">
                            </a>
                            <div>
                                <h6 class="fs-14 mb-1 text-truncate"><a href="javascript:void(0);" class="fw-semibold">MTN</a></h6>
                                <p class="mb-0 fs-13 text-truncate"><a href="javascript:void(0);" class="link-primary">#INV5889</a></p>
                            </div>
                        </div>
                        <span class="badge fw-medium bg-success flex-shrink-0">234 000</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="avatar me-2 flex-shrink-0">
                                <img src="{{ asset('theme_b/assets/img/logos/orange_logo.png') }}" alt="img" class="rounded-circle">
                            </a>
                            <div>
                                <h6 class="fs-14 mb-1 text-truncate"><a href="javascript:void(0);" class="fw-semibold">Orange</a></h6>
                                <p class="mb-0 fs-13 text-truncate"><a href="javascript:void(0);" class="link-primary">#INV7874</a></p>
                            </div>
                        </div>
                        <span class="badge fw-medium bg-success flex-shrink-0">234 0000</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="avatar me-2 flex-shrink-0">
                                <img src="{{ asset('theme_b/assets/img/logos/moov_logo.png') }}" alt="img" class="rounded-circle">
                            </a>
                            <div>
                                <h6 class="fs-14 mb-1 text-truncate"><a href="javascript:void(0);" class="fw-semibold">MOOV</a></h6>
                                <p class="mb-0 fs-13 text-truncate"><a href="javascript:void(0);" class="link-primary">#INV4458</a></p>
                            </div>
                        </div>
                        <span class="badge fw-medium bg-danger flex-shrink-0">69 000</span>
                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="avatar me-2 flex-shrink-0">
                                <img src="{{ asset('theme_b/assets/img/logos/wave_logo.png') }}" alt="img" class="rounded-circle">
                            </a>
                            <div>
                                <h6 class="fs-14 mb-1 text-truncate"><a href="javascript:void(0);" class="fw-semibold">Wave</a></h6>
                                <p class="mb-0 fs-13 text-truncate"><a href="javascript:void(0);" class="link-primary">#INV5456</a></p>
                            </div>
                        </div>
                        <span class="badge fw-medium bg-success flex-shrink-0">234 0000</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- col end -->

        <!-- col start -->
        <div class="col-xl-4 col-lg-6 d-flex">
            <div class="card shadow-sm flex-fill w-100">
                <div class="card-header d-flex align-items-center justify-content-between">
                    <h5 class="fw-bold mb-0">Notifications</h5>
                    <div class="dropdown">
                        <a href="javascript:void(0);" class="btn btn-sm px-2 border shadow-sm btn-outline-white d-inline-flex align-items-center" data-bs-toggle="dropdown">
                            Aujourd'hui <i class="ti ti-chevron-down ms-1"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="dropdown-item" href="#">Aujourd'hui</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Cette semaine</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="#">Ce mois</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-3">
                        <div class="d-flex align-items-center">
                            <a href="" class="avatar flex-shrink-0">
                                <img src="" class="rounded-circle" alt="img">
                            </a>
                            <div class="ms-2">
                                <div>
                                    <h6 class="fw-semibold text-truncate mb-1 fs-14"><a href=""></a></h6>
                                    <p class="fs-13 mb-0 text-truncate"></p>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center">
                            <a href="javascript:void(0);" class="d-inline-flex bg-soft-danger text-danger p-2 rounded-circle"><i class="ti ti-x fw-bold"></i></a>
                            <a href="javascript:void(0);" class="d-inline-flex ms-2 text-success p-2 bg-soft-success rounded-circle"><i class="ti ti-check fw-bold"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- col end -->

    </div>
    <!-- row end -->

</div>
<!-- End Content -->
{% endblock %}

{% block javascript %}

{% endblock %}
