<!DOCTYPE html>

<title>Immatriculation index</title>

{% block body %}
    <h1>Immatriculation index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Status</th>
                <th>Created_at</th>
                <th>Updated_at</th>
                <th>Type</th>
                <th>Identification_id</th>
                <th>Payment_type</th>
                <th>Latitude</th>
                <th>Longitude</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for immatriculation in immatriculations %}
            <tr>
                <td>{{ immatriculation.id }}</td>
                <td>{{ immatriculation.status }}</td>
                <td>{{ immatriculation.createdAt }}</td>
                <td>{{ immatriculation.updatedAt }}</td>
                <td>{{ immatriculation.type }}</td>
                <td>{{ immatriculation.identificationId }}</td>
                <td>{{ immatriculation.paymentType }}</td>
                <td>{{ immatriculation.latitude }}</td>
                <td>{{ immatriculation.longitude }}</td>
                <td>
                    <a href="{{ path('app_immatriculation_show', {'id': immatriculation.id}) }}">show</a>
                    <a href="{{ path('app_immatriculation_edit', {'id': immatriculation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_immatriculation_new') }}">Create new</a>
{% endblock %}
