<!DOCTYPE html>

<title>Entreprise</title>

{% block body %}
    <h1>Entreprise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entreprise.id }}</td>
            </tr>
            <tr>
                <th>Primaryactivity</th>
                <td>{{ entreprise.primaryactivity }}</td>
            </tr>
            <tr>
                <th>Activitystartdate</th>
                <td>{{ entreprise.activitystartdate }}</td>
            </tr>
            <tr>
                <th>Secondaryactivity</th>
                <td>{{ entreprise.secondaryactivity }}</td>
            </tr>
            <tr>
                <th>Companyname</th>
                <td>{{ entreprise.companyname }}</td>
            </tr>
            <tr>
                <th>Companyacronym</th>
                <td>{{ entreprise.companyacronym }}</td>
            </tr>
            <tr>
                <th>Companypurpose</th>
                <td>{{ entreprise.companypurpose }}</td>
            </tr>
            <tr>
                <th>Companylegalstatus</th>
                <td>{{ entreprise.companylegalstatus }}</td>
            </tr>
            <tr>
                <th>Numregistremetier</th>
                <td>{{ entreprise.numregistremetier }}</td>
            </tr>
            <tr>
                <th>Numrea</th>
                <td>{{ entreprise.numrea }}</td>
            </tr>
            <tr>
                <th>Numrccm</th>
                <td>{{ entreprise.numrccm }}</td>
            </tr>
            <tr>
                <th>Companycapitalsocial</th>
                <td>{{ entreprise.companycapitalsocial }}</td>
            </tr>
            <tr>
                <th>Companyregimefiscal</th>
                <td>{{ entreprise.companyregimefiscal }}</td>
            </tr>
            <tr>
                <th>Companynumcnps</th>
                <td>{{ entreprise.companynumcnps }}</td>
            </tr>
            <tr>
                <th>Companynombreassocies</th>
                <td>{{ entreprise.companynombreassocies }}</td>
            </tr>
            <tr>
                <th>Companyduree</th>
                <td>{{ entreprise.companyduree }}</td>
            </tr>
            <tr>
                <th>Companytaxpayernumber</th>
                <td>{{ entreprise.companytaxpayernumber }}</td>
            </tr>
            <tr>
                <th>Companyadressepostale</th>
                <td>{{ entreprise.companyadressepostale }}</td>
            </tr>
            <tr>
                <th>Companytel</th>
                <td>{{ entreprise.companytel }}</td>
            </tr>
            <tr>
                <th>Companyfax</th>
                <td>{{ entreprise.companyfax }}</td>
            </tr>
            <tr>
                <th>Companydepartement</th>
                <td>{{ entreprise.companydepartement }}</td>
            </tr>
            <tr>
                <th>Companycommune</th>
                <td>{{ entreprise.companycommune }}</td>
            </tr>
            <tr>
                <th>Companysp</th>
                <td>{{ entreprise.companysp }}</td>
            </tr>
            <tr>
                <th>Companyquartier</th>
                <td>{{ entreprise.companyquartier }}</td>
            </tr>
            <tr>
                <th>Companyvillage</th>
                <td>{{ entreprise.companyvillage }}</td>
            </tr>
            <tr>
                <th>Companylotnumber</th>
                <td>{{ entreprise.companylotnumber }}</td>
            </tr>
            <tr>
                <th>Companyilotnumber</th>
                <td>{{ entreprise.companyilotnumber }}</td>
            </tr>
            <tr>
                <th>Companyeffectsalariehomme</th>
                <td>{{ entreprise.companyeffectsalariehomme }}</td>
            </tr>
            <tr>
                <th>Companyeffectsalariefemme</th>
                <td>{{ entreprise.companyeffectsalariefemme }}</td>
            </tr>
            <tr>
                <th>Companyeffectapprentishomme</th>
                <td>{{ entreprise.companyeffectapprentishomme }}</td>
            </tr>
            <tr>
                <th>Companyeffectepprentishomme</th>
                <td>{{ entreprise.companyeffectepprentishomme }}</td>
            </tr>
            <tr>
                <th>Companyeffectapprentisfemme</th>
                <td>{{ entreprise.companyeffectapprentisfemme }}</td>
            </tr>
            <tr>
                <th>Activitylocation</th>
                <td>{{ entreprise.activitylocation }}</td>
            </tr>
            <tr>
                <th>ActivityLocation</th>
                <td>{{ entreprise.activityLocation }}</td>
            </tr>
            <tr>
                <th>Activitycountry</th>
                <td>{{ entreprise.activitycountry }}</td>
            </tr>
            <tr>
                <th>Activitycity</th>
                <td>{{ entreprise.activitycity }}</td>
            </tr>
            <tr>
                <th>Activityquartier</th>
                <td>{{ entreprise.activityquartier }}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ entreprise.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ entreprise.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_entreprise_index') }}">back to list</a>

    <a href="{{ path('app_entreprise_edit', {'id': entreprise.id}) }}">edit</a>

    {{ include('entreprise/_delete_form.html.twig') }}
{% endblock %}
