{% extends 'admin/base.html.twig' %}

{% block title %}Création de compte{% endblock %}

{% block stylesheet %}
    {{ parent() }}
    <link href="{{ asset('assets/admin/libs/datatables.net-bs4/css/dataTables.bootstrap4.min.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('assets/admin/libs/datatables.net-bs4/css/select.dataTables.min.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block body %}

<!-- Begin page -->
<div id="layout-wrapper">

    {{ include('admin/_partials/header.html.twig') }}

    <!-- ========== Left Sidebar Start ========== -->
    {{ include('admin/_partials/left-sidebar.html.twig')}}
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">

            <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="d-flex align-items-center p-3">
                                        <h5 class="mb-0 card-title flex-grow-1">Utilisateurs</h5>
                                        <div class="flex-shrink-0">
                                            <button data-href="{{  path('admin_user_new') }}" class="btn btn-primary btn-sm waves-effect waves-light" id="btnNewUser"><span class="fa fa-plus-circle fa-1x"></span> Créer un utilisateur</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                     {{ include('admin/user/_user_datatable.html.twig') }}
                                    </div>
                                    <!-- end table-responsive -->
                                </div>
                            </div>
                        </div>
                    </div>
            </div><!-- End Page-content -->

            {{ include('admin/_partials/footer.html.twig') }}

            <div class="modal fade" id="showUserModal" tabindex="-1" aria-labelledby="showUserModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Modifier les informations de l'utilisateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Informations de l'utilisateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="registerUserModal" tabindex="-1" aria-labelledby="registerUserModal" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Nouvel utilisateur</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!-- end main content-->
</div>
    <!-- END layout-wrapper -->

<div class="rightbar-overlay"></div>

{% endblock %}

{% block javascript %}
{{ parent() }}
<script src="{{ asset('assets/admin/libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
<script src="{{ asset('assets/admin/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js') }}"></script>
  <script>
      $('document').ready(function() {
        var datatable = initDatatable();
        function initDatatable(){
            /* DATATABLE INIT */
            var dt = $('#datatable').DataTable( {
                "responsive": true,
                "pageLength": 50,
                "language": {
                    url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/French.json',
                    processing: "<img height='32' width='32' src='{{ asset("assets/images/preloaders/5.svg") }}' />",
                    sLoadingRecords :"<img height='32' width='32' src='{{ asset("assets/images/preloaders/5.svg") }} />"
                },
                "processing": true,
                "serverSide": true,
                "ajax": {
                    "url": '{{ path('admin_user_dt') }}',
                    "data": function (d) {

                    }
                },
                "columns": [
                    {"data":  "photo"},
                    {"data":  "lastname"},
                    {"data":  "firstname"},
                    {"data":  "email"},
                    {"data":  "is_active"},
                    {"data":  "roles"},
                    {"data":  "last_connection"},
                    { "data": "" },
                ],
                "order": [[1, 'desc']]
            } );


            return dt;
        }

        $(document).on('change', "#user_form_photo", function(data){
            alert();
          var imageFile = data.target.files[0];
          var reader = new FileReader();
          reader.readAsDataURL(imageFile);

          reader.onload = function(evt){
              $('#imagePreview').attr('src', evt.target.result);
              $('#imagePreview').fadeIn(650);
          }
        });
        $('#btnNewUser').click(function(e){
            e.preventDefault();
            var url = '{{ path('admin_user_new') }}';
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    $('#registerUserModal .modal-body').html(response);
                    $('#registerUserModal').modal('show');
                }
            });
        });

        $(document).on('click','.btn-user-show', function(){
            var url = "/user/" + $(this).data('id');
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    $('#showUserModal .modal-body').html(response);
                    $('#showUserModal').modal('show');
                }
            });
        });
        $(document).on('click', '.btn-user-edit',  function(){
            var url = "/user/" + $(this).data('id') + '/edit';
            $.ajax({
                url: url,
                type: 'GET',
                success: function(response){
                    $('#editUserModal .modal-body').html(response);
                    $('#editUserModal').modal('show');
                }
            });
        });
      });
  </script>
{% endblock %}
